{% extends base_template %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Convertion of files</h3>
    </div>

    {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
    {% endif %}
    
    {{ form_start(form6) }}
          <div class="box-body">
            {{ form_widget(form6) }}
          </div>
    {{ form_end(form6) }}

    {{ form_start(form7) }}
          <div class="box-body">
            {{ form_widget(form7) }}
          </div>
    {{ form_end(form7) }}

    {{ form_start(form8) }}
          <div class="box-body">
            {{ form_widget(form8) }}
          </div>
    {{ form_end(form8) }}

    {{ form_start(form9) }}
          <div class="box-body">
            {{ form_widget(form9) }}
          </div>
    {{ form_end(form9) }}

    {{ form_start(form10) }}
          <div class="box-body">
            {{ form_widget(form10) }}
          </div>
    {{ form_end(form10) }}
</div>
{% endblock %}
