{% extends base_template %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}
    {% endif %}
{% endblock %}

{% block content %}
<style>
/************************************************/
/************************************************/
/************************************************/


.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}




#place-for-preview input {
    width: 180px;
    margin: 20px 0;
}


/************************************************/
/************************************************/
/************************************************/
table td {
    padding: 5px;
}
.document-structure-scheme__table{
  display: table;
  border-collapse:collapse; 
  width: 100%;
  max-width: 100%;
  font-family: 'Muli', "Helvetica", Arial,sans-serif; 
  font-size: 14px; 
}

.document-structure-scheme__title{
  font-size: 15px;  
  font-weight: bold;  
  padding-bottom:5px;
}
 .document-structure-scheme__letter,
.document-structure-scheme__cellname,
.document-structure-scheme__number,
.document-structure-scheme__cell
{
   text-align: center;
   border: 1px solid  #B0C4DE;
   color: #66615b;    
   position:relative;
  }
.document-structure-scheme__letter,
.document-structure-scheme__number{
   background-color:#F0F8FF;
}
.document-structure-scheme__letter:hover{
  background-color:#B0C4DE;
}
#modal-with-description video {
    width: 100%;
}

/*************************************************/
.info-btn-block {
    width: 100%;
    text-align: right;
    margin: 10px 0;
}
.info-btn {
    display: inline-block;
}
.info-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.example {
    margin: 20px 0;
}

.input-group.date input{
    height: 30px;
}

#form_for_dates_date {
    margin-bottom: 20px;
}

#form_for_dates_date div:first-child{
    margin-right: 20px;
    float: left;
}


#form_for_dates_date div label{
    float: left;
    margin: 0 10px 0 0;
    line-height: 30px;
}

@media (max-width: 590px) {

    #form_for_dates_date div{
        clear: both;
    }
}




#form_for_dates {
    position: relative;
}


.part-of-form {
    width: 40%;
}

@media (max-width: 1150px) {
    
    .part-of-form {
        width: 100%;
    }
}

#form_for_dates_product {
    width:100%;
}

.search-result {
    background: yellow;
}
</style>

<script>
jQuery(function() {
    var
        previewManager = {
            ajaxForGettingPreview: null,
            idOfSheet: null,
            $container: null,
            setContainer: function(container) {
                this.$container = container

                this.$container
                .on('click','#btn-next-prtion-for-preview', function() {
                    if (!$(this).hasClass('disabled')) {
                        $(this).addClass('disabled')
                        previewManager.getPreview({needNextPrtion: true})
                    }
                })
                .on('click','.buttons-of-sheets button', function() {
                    var
                        idOfSheet = $(this).data('id')
                    previewManager.getPreview({idOfSheet: idOfSheet})
                })
                .on('input','input', function() {
                    var
                        val = $(this).val()
                    if (val.length >= 3) {
                        previewManager.getPreview({searchBy: true})
                    }    
                })



            },
            showSpinner: function($container) {
                $container.html('<div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div>')
            },

            getPreview: function(params) {
                params = typeof params !== 'undefined' ? params : {}

                var
                        _this = this,
                        $container = this.$container,
                        $containerOfTable = $('.table-responsive', $container),
                        needNextPortionFrom = null

                    
                    if ('needNextPrtion' in params && params.needNextPrtion) {
                        needNextPortionFrom = $('#btn-next-prtion-for-preview').length > 0 ? $('#btn-next-prtion-for-preview').data('next-portion-from') : null
                    }

                    /*
                    @todo Need refactoring
                    */
                    if ('idOfSheet' in params) {
                        needNextPortionFrom = null
                        this.idOfSheet = params.idOfSheet
                        this.showSpinner($containerOfTable)

                        $('.btn-group .active').removeClass('active');
                        $('.btn-group [data-id="' + this.idOfSheet + '"]').addClass('active');
                    } else if ('searchBy' in params) {
                        this.showSpinner($containerOfTable)
                    } else if (!needNextPortionFrom) {
                        this.showSpinner($container)
                    }

                    var sendData = {
                            type:  $('#form_for_dates_type').val(),
                            date: {
                                start:  $('#form_for_dates_date_start').val(),
                                end:  $('#form_for_dates_date_end').val()
                            },
                            store: $('#form_for_dates_store').val(),
                            category: $('#form_for_dates_category').val(),
                            product: $('#form_for_dates_product').val(),
                            seller: $('#form_for_dates_seller').val(),
                            searchBy: $('input', $container).val(),
                            nextPortionFrom: needNextPortionFrom,
                            idOfSheet: this.idOfSheet
                        }
                    
                    if (this.ajaxForGettingPreview !== null) {
                        this.ajaxForGettingPreview.abort()
                    }
                    
                    

                    //diable inputs
                    $('input, select, button').prop('disabled', 'disabled')
                    this.ajaxForGettingPreview = $.ajax({
                        type: 'GET',
                        url: "{{ path('admin_app_storeorderproduct_getPreviewOfExport') }}",
                        data: sendData
                    })
                    .done(function (data) {
                        //enable inputs
                        
                        $('input, select, button').prop('disabled', '')
                        
                        var
                            resultBy = null
                        if ('resultBy' in data) {
                            resultBy = data.resultBy
                        }

                        _this.ajaxForGettingPreview = null

                        if (data.description.length > 0) {
                            if (!'currentPageId' in data ) {
                                _this.idOfSheet = null
                            }

                            if (needNextPortionFrom) {
                                    $('tbody', $container).append(_this.writeBodyOfTable({
                                        values: data.description, 
                                        resultBy: resultBy
                                    })) 
                                    var
                                        $btnNext = $('#btn-next-prtion-for-preview', $container)
                                    if ('nextFromRow' in data) {
                                        $btnNext
                                            .removeClass('disabled')
                                            .data('next-portion-from', data.nextFromRow)
                                    } else {
                                        $btnNext.remove();

                                    }
                            } else {
                                var tableHtml = _this.getHtmlOfWholeTable({
                                    values: data.description, 
                                    nextFromRow: 'nextFromRow' in data ? data.nextFromRow : null,
                                    searchBy: resultBy
                                })

                                
                                
                                //it mean was checked sheet
                                if ('idOfSheet' in params) {
                                    $containerOfTable.html(tableHtml)
                                } else {
                                    var html = '<div class="table-responsive">' + tableHtml + '</div>'
                                    var pages = 'pages' in data ? data.pages : []
                                    var currentPageId = 'currentPageId' in data ? data.currentPageId : null

                                    if (pages.length > 0) {
                                        var
                                            tabsHtml = ''
                                        for (var i = 0; i < pages.length; i++) {
                                            tabsHtml += '<button type="button" data-id="' + pages[i].id + '" class="btn btn-default ' + (parseInt(pages[i].id, 10) === parseInt(currentPageId, 10) ? 'active' : '') + '">' + pages[i].name + '</button>'
                        
                                        }

                                        tabsHtml = '<div class="btn-group btn-group-sm buttons-of-sheets" role="group" aria-label="Small button group">' + tabsHtml + '</div> '
                                        tabsHtml += '<br/>'
                                        tabsHtml += '<br/>'

                                        html = tabsHtml + html
                                    }
                                    html = '<input type="text" placeholder="Cretaria for filtration" ' + (resultBy ? ('value="' + data.resultBy + '" ') : '') + '><br/>' + html
                                    $container.html(html)
                                }

                            }
                        } else {
                            $container.html('')
                        }

                    })   
                },
            
            writeBodyOfTable: function(params) {
                values = params.values
                searchBy = null
                if ('searchBy' in  params) {
                    searchBy = params.searchBy
                }

                var
                    valParts,
                    val,
                    tableHtml = '',
                    numberFrom = 0
                if ($('.num-index-cell', this.$container).length > 0) {
                     numberFrom = parseInt($('.num-index-cell', this.$container).last().html(), 10) 
                }

                for (var j = 0; j < values.length; j++) {
                    tableHtml += '<tr><td class="document-structure-scheme__cell num-index-cell">' + (numberFrom + j + 1) + '</td>'

                    for (var i = 0; i < values[0].length; i++) {
                        val = values[j][i] + ''
                        
                        if (!val) {
                            val = ''
                        }

                        if (searchBy !== null && val !== '' && val.indexOf(searchBy) !== -1) {
                            valParts = val.split(searchBy)
                            val = ''
                            for (var z = 0; z < valParts.length; z++) {
                                val += valParts[z]
                                if (z !== valParts.length - 1) {
                                    val += '<span class="search-result">' + searchBy + '</span>'
                                }
                            }
                        }

                        tableHtml += '<td class="document-structure-scheme__cell">' + (val === '' ? '&nbsp;' : val) + '</td>'
                    }
                    
                    tableHtml += '</tr>'
                }

                return tableHtml
            },

            getHtmlOfWholeTable: function(params) {
                values = 'values' in params ? params.values : []
                nextProtionFrom = 'nextFromRow' in params ? params.nextFromRow : null;

                var
                    $container = this.$container
                var
                    letters = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"],
                    letter,
                    tableHtml = ''
                
                for (var i = 0; i < values[0].length; i++) {
                    //seems like it will be enough
                    if (i >= letters.length) {
                        letter = letters[0] + letters[i - letters.length]
                    } else {
                        letter = letters[i]
                    }

                    tableHtml += '<td class="document-structure-scheme__letter">' + letter + '</td>'
                }

                tableHtml = '<tr><td class="document-structure-scheme__letter">&nbsp</td>' + tableHtml + '</tr>'

                tableHtml += '</tr>'

                tableHtml = '<thead>' + tableHtml + '</thead>'
                tableHtml += '<tbody>'
                
                console.log(params)
                tableHtml += this.writeBodyOfTable({
                    values: values,
                    searchBy: 'searchBy' in params ? params.searchBy : null
                })
                
                tableHtml += '</tbody>' 
                
                var
                    html = '<table class="document-structure-scheme__table table-responsive">' 
                    + tableHtml + '</table>' + 
                    '</div>'+(nextProtionFrom !== null ? ('<br/><div id="btn-next-prtion-for-preview" data-next-portion-from="' + nextProtionFrom + '" class="btn btn-danger btn-xs">Next &rarr;') : '')


                
                 
                return html;
            }
        }
    
    var


        els = {
            store: $('#form_for_dates_store'),
            seller: $('#form_for_dates_seller'),
            product: $('#form_for_dates_product'),
            category: $('#form_for_dates_category')
        },
        filtersEl = {
            store: els.store.parent('div'),
            seller: els.seller.parent('div'),
            product: els.product.parent('div'),
            category: els.category.parent('div')
        }

    $('#form_for_dates_type').on('change', function() {
        var
            type = parseInt($(this).val(), 10)
 
            var
                showFilters = {
                    seller: false,
                    store: false,
                    product: false,
                    category: false
                }
                values = []
            
            if (type ===1) {
                showFilters.store = true;

                values = [[
                "Store ID",
                "Unidades",
                "Monto",
                "Comprabantes",
                "Monto/Comprabantes",
                "Unidades/Comprabantes"
                ],
                [
                    'MDQ2344', '1439', '$284277.00', '772','$368.23', '1.86'
                ],
                [
                    '8775', '1551', '$345997.00', '1043', '$331.73', '1.49'
                ]
                
                ];
            } else if (type === 2) {
                showFilters.seller = true;
                showFilters.store = true;
                values = [[
                "Vendedor",
                "Unidades",
                "Monto",
                "Comprobantes",
                "Monto/Comprabantes",
                "Unidades/Comprabantes"
                ],
                [
                    '12 test', 51, 9990, 15, 555, 3.4
                ],
                [
                    '13 test', 52, 9990, 15, 555, 3.4
                ]
                ];
            } else if (type === 3) {
                showFilters.category = true;
                showFilters.product = true;
                values = [[
                "Articulo",
                "Descripcion",
                "Categoria",
                "Suma de Item - Candidat",
                "Suma de Item - Monto Neto",
                "Proveedor",
                "Porcentaje"
                ],
                [
                    'HAL0001', 'H PANTALON NEGRO DE GABARDINA', 'Jeans', 81, '$34301', 'HAL', '3.137%'
                ],
                [
                    'HAL0002', 'H PANTALON NEGRO DE GABARDINA', 'Jeans', 81, '$34301', 'HAL', '5.137%'
                ]
                ];
            } else if (type === 4) {
                values = [[
                "Proveeedor",
                "Cantidad",
                "Total",
                "Porcentaje"
                ],
                [
                    'TRA', 405, '$181602', '16.78%'
                ],
                [
                    'PEN', 1500, '$153963', '14.226%'
                ]
                ];
            } else if (type === 5) {
                showFilters.category = true;
                values = [[
                "Categoria",
                "Cantidad",
                "Total",
                "Porcentaje"
                ],
                [
                    'Jeans', 405, '$181602', '16.78%'
                ],
                [
                    'Camisas', 1500, '$153963', '14.226%'
                ]
                ];
            } else if (type === 6) {
                showFilters.store = true;
                showFilters.product = true;
                values = [[
                "Product",
                "MDQ2344",
                "8775",
                "Quilmes 338",
                "12129",
                "Total"
                ],
                [
                    'ARA1082 M Short Bicolor', 0, 0, 0, -200, -200
                ],
                [
                    'CE0138 M JEANS LOCALIZADO T/MEDIO 1 BOTON', 200, 200, 0, -200, 200
                ]
                ];
            } else if (type === 7) {
                showFilters.store = true;
                values = [[
                "Product",
                "MDQ2344",
                "8775",
                "Quilmes 338",
                "12129",
                "Total"
                ],
                [
                    'ARA1082 M Short Bicolor', 0, 0, 35000, 350, 35350
                ],
                [
                    'CLU0548 M SHORT FLOREADO', 350, 350, 0, 35000, 36200
                ]
                ];
            } else if (type === 8) {
                showFilters.store = true;
                values = [[
                "Store",
                "CASH",
                "OTHER",
                "TOTAL"
                ],
                [
                    'MDQ2344', '$0', '$35000', '$35000'
                ],
                [
                    'Quilmes 338', '$1090', '$216095', '$217185'
                ]
                ];
            } else if (type === 9) {
                showFilters.store = true;
                values = [[
                    'DIA','AC.17','DIA.17', 'DIA.18', 'DIA.18', 'DIA.18', 'ACU.18', 'DIF/ANO'
                ],
                [

                    1, '6881,0', '6881', '8780', '5689', '14469', '14469', '7588'
                ],
                [
                    2, '20507', '13626', '6374', '5188', '11562', '26031', '5524'
                ]
                ];
            } else if (type === 10) {
                values = [[
                    'Product', 'Category', 'Provider', 'MDQ2344', '8 775', 'Quilmes 338', '12 1290', 'Total'
                    
                ],
                [
                    'CAM0005 H BUFANDA', 'Jeans', 'CE0', 0, 300, 0, 0, 300
                ],
                [
                    'CAM0007 H BUFANDA', 'Jeans', 'CE0', 300, 0 , 0, 0, 300
                ]
                ];
            } else if (type === 11) {
                values = [[
                    'Articulo', 'Color', 'Talle', 'Repo MDQ2344', 'Stock MDQ2344', 'Pedido MDQ2344'
                ],
                [
                    'CAM0005', 'RED', '8', 10, 2, 8
                ],
                [
                    'CAM0005', 'BLUE', '8', 10, 2, 8
                ]
                ];
            }
            

            

            for (type in showFilters) {
                els[type].select2("val", "");

                if (showFilters[type]) {
                    filtersEl[type].show()
                } else {
                    filtersEl[type].hide()
                }
            }
    })

     $('#form_for_dates_type').trigger('change')

    $('.info-btn').on('click', function() {
         $('#modal-with-description').modal('show')
    })


    /////////////////////////////////////
    /////////////////////////////////////
    /////////////////////////////////////
    

    previewManager.setContainer($('#place-for-preview'))

    $('[name="form_for_dates"]').on('change', function() {
        previewManager.getPreview()
    })
    
    setTimeout(function(){$('[name="form_for_dates"]').trigger('change')}, 1);

    
})
</script>
<div class="box box-primary">

<div id="modal-with-description" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

         <video controls>
            <source src="/bundles/app/Video/Ttst3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



    <div class="box-header with-border">
      <h3 class="box-title">Obtener archivos con estadística</h3>
    </div>

    <div class="box-body">
    {% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
    {% endif %}
    
    {{ form_start(form) }}
            <div class="info-btn-block">
                <div class="info-btn">
                    <i class="fa fa-fw fa-question-circle"></i>
                    Video instrucciones
                </div>
            </div>

            {{ form_row(form.date) }}
            <div class="part-of-form">
                    {{ form_row(form.product) }}
                    {{ form_row(form.seller) }}
                    {{ form_row(form.store) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.type) }}
                    <br/>
                    {{ form_row(form.send) }}
                    <br/>
                    <br/>
            </div>

    {{ form_end(form) }}

    <div id="place-for-preview">
    </div>
    <div id="place-for-example" class="part-of-form__right example">
    </div>

  </div>
    <br/>
    <br/>
    <br/>
</div>
{% endblock %}
