{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        * {

        }

        /*
            Original version: http://www.bootply.com/128062
            This version adds support for IE 10+ and Firefox.
        */

        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -ms-animation: spin .7s infinite linear;
            -webkit-animation: spinw .7s infinite linear;
            -moz-animation: spinm .7s infinite linear;
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
          
        @-webkit-keyframes spinw {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @-moz-keyframes spinm {
            from { -moz-transform: rotate(0deg);}
            to { -moz-transform: rotate(360deg);}
        }
    </style>

    <!-- and/or -->

    <link href="{{ asset('bundles/app/css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}    
    {{ parent() }}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}

{% block body_attributes -%}
    class="sonata-bc skin-blue fixed
    {% if app.request.cookies.get('sonata_sidebar_hide') -%}
        sidebar-collapse
    {%- endif -%}"
{%- endblock -%}

{% block side_bar_after_nav %}
    <br/>
    <br/>
    <ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">CUSTOM ACTIONS</li>
    <li>
        <a href="{{ path('admin_app_storeorderproduct_convert') }}">
          <i class="fa fa-book"></i>
          <span>Uploading of files</span>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_app_storeorderproduct_getStatisticFromDatabase') }}">
          <i class="fa fa-book"></i>
          <span>Download files from DB</span>
        </a>
    </li>
    <li>
        
    </li>
    </ul>
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}


{% block sonata_nav %}
<nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-left">
        {% block sonata_breadcrumb %}
            <div class="hidden-xs">
                {% if _breadcrumb is not empty or action is defined %}
                    <ol class="nav navbar-top-links breadcrumb">
                        {% if _breadcrumb is empty %}
                            {% if action is defined %}
                                {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                    {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                    {%- set label = menu.label -%}
                                    {%- if translation_domain is not same as(false) -%}
                                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                    {%- endif -%}

                                    {% if not loop.last %}
                                        <li>
                                            {% if menu.uri is not empty %}
                                                <a href="{{ menu.uri }}">
                                                    {% if menu.extra('safe_label', true) %}
                                                        {{- label|raw -}}
                                                    {% else %}
                                                        {{- label -}}
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                <span>{{ label }}</span>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="active"><span>{{ label }}</span></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {{ _breadcrumb|raw }}
                        {% endif %}
                    </ol>
                {% endif %}
            </div>
        {% endblock sonata_breadcrumb %}
    </div>

    {% block sonata_top_nav_menu %}
        {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% block sonata_top_nav_menu_add_block %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            {% include sonata_admin.adminPool.getTemplate('add_block') %}
                        </li>
                    {% endblock %}
                    {% block sonata_top_nav_menu_user_block %}
                        <li class="dropdown user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                {% include sonata_admin.adminPool.getTemplate('user_block') %}
                            </ul>
                        </li>
                    {% endblock %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

<style>
#widget-for-znube-updating {
    line-height: 50px;
    float: left;
    margin-left: 25px;
}    
#btn-check-znube {
    border-radius: 3px;
    padding: 0 20px;
}

/*
@todo Need to fix it
*/
@media (max-width: 760px) {
    
    #widget-for-znube-updating {
        display: none;
    }


}
</style>

<div id="widget-for-znube-updating">
        <button class="btn btn-danger btn-xs" id="btn-check-znube">
            Update zNube
        </button> 
        <small id="result-check-znube" class="text-success">
 
        </small>

        <script>
            jQuery(function() {
                $('#btn-check-znube').on('click', function() {
                    var
                        $elInfo = $('#result-check-znube')

                    $elInfo.html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>');

                    $.ajax({
                        type: 'GET',
                        url: "{{ path('admin_app_storeorderproduct_updateStatistic') }}",
                    })
                    .done(function (data) {
                        if ('lastSuccessUpdate' in data && data.lastSuccessUpdate !== '') {
                            $elInfo.html('Updating was at ' + data.lastSuccessUpdate)
                        }
                    })
                }).trigger('click')
            })
        </script>
</div>
</nav>
{% endblock sonata_nav %}
