{% extends base_template %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {% if action is defined %}
        {{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}
    {% endif %}
{% endblock %}

{% block content %}
<script>
jQuery(function() {
    $('.for-type-of-presentism').on('change', function() {
        var
            timeId = $(this).data('time-id'),
            newPresentismId = $(this).val()

        this.ajaxForGettingPreview = $.ajax({
            type: 'GET',
            url: "{{ path('admin_app_timeofseller_saveTypeOfPresentism') }}",
            data: {
                timeId: timeId,
                newPresentismId: newPresentismId
            }
        })
        .done(function (response) {
            if  (! 'code' in response || parseInt(response.code, 10) !== 200) {
                alert('Error has been occured !')
            }
        })
    })
})
</script>
<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Statistic of added time</h3>
    </div>
    
    <div class="box-body">

        <h3>
            General statistic
        </h3>
        <table class="table table-bordered table-striped"> 
            <thead> 
                <tr>  
                    <th>Seller</th> 
                    <th>Quantities of statuses</th> 
                    <th>Minus percents</th> 
                    <th>Salary</th> 
                </tr> 
            </thead> 
            <tbody> 
                {% for record in statistic %}
                <tr> 
                    <td>{{ record.sellerName  }}</td> 
                    <td>
                        {% for stat in record.statisticByStatuses %}
                            {{ stat.name }}: {{ stat.quantity }}<br/>
                        {% endfor %}
                    </td> 
                    <td>{{ record.minusPersents }}</td> 
                    <td>{{ record.price }}</td> 
                    
                </tr> 
                {% endfor %}
            </tbody> 
        </table>

        <br/>
        <br/>
        <br/>
        <br/>

        <h3>
            Detailed time of sellers
        </h3>
        <table class="table table-bordered table-striped"> 
            <thead> 
                <tr>  
                    <th>Seller</th> 
                    <th>Start of early shift</th>
                    <th>End of early shift</th>
                    <th>Start of late shift</th>
                    <th>End of late shift</th>
                    <th>Type of day</th>
                    <th>Type of presentation</th>
                </tr> 
            </thead> 
            <tbody> 
                {% for record in records %}
                <tr> 
                    <td>{{ record.seller.name  }}</td> 
                    <td>{{ record.startOfEarlyShift|date('Y-m-d H:i:s')  }}</td> 
                    <td>{{ record.endOfEarlyShift|date('Y-m-d H:i:s')  }}</td> 
                    <td>{{ record.startOfLateShift|date('Y-m-d H:i:s')  }}</td> 
                    <td>{{ record.endOfLateShift|date('Y-m-d H:i:s')  }}</td> 
                    <td>{{ record.typeOfDay.name  }}</td> 
                    <td>
                        <select class="for-type-of-presentism" data-time-id="{{ record.sellerTimeId }}">
                             {% for type in typesOfPresentism %}
                             <option value="{{ type.typeOfPresentismId }}" 
                                {% if type.typeOfPresentismId == record.typeOfPresentism.typeOfPresentismId %}
                                    selected="selected"
                                {% endif %}
                             >
                                {{ type.name }}
                             </option>
                             {% endfor %}
                        </select>
                    </td> 
                </tr> 
                {% endfor %}
            </tbody> 
        </table>

    </div>
</div>
{% endblock %}
