{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default {{ settings.class }}">
        {% if settings.title is not empty %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    {% if settings.icon %}
                        <i class="{{ settings.icon }}" aria-hidden="true"></i>
                    {% endif %}
                    {% if settings.translation_domain %}
                        {{ settings.title|trans({}, settings.translation_domain) }}
                    {% else %}
                        {{ settings.title }}
                    {% endif %}
                </h4>
            </div>
        {% endif %}

        <div class="panel-body">
            {% if info is empty %}
            Without statistic
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            Store
                        </td>
                        <td>
                            Quntity of orders
                        </td>
                        <td>
                            Price
                        </td>
                    </tr>
                </thead>
                </tbody>
                {% for infoRow in info %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{infoRow.storeCode}}
                        </td>
                        <td>
                            {{infoRow.quantityOfOrders}}
                        </td>
                        <td>
                            {{infoRow.price}}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            Total
                        </td>
                        <td>
                            {{total.quantityOfOrders}}
                        </td>
                        <td>
                            {{total.price}}
                        </td>
                    </tr>
                </tbody>
            </table> 
            {% endif %}

            {% if not info is empty %}


            <table class="table">
                <thead>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            Product
                        </td>
                        <td>
                            Price
                        </td>
                    </tr>
                </thead>
                </tbody>
                {% for infoRow in infoOfProducts %}
                    <tr>
                        <td>
                            {{ loop.index }}
                        </td>
                        <td>
                            {{infoRow.description}}
                        </td>
                        <td>
                            {{infoRow.price}}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table> 
            {% endif %}
        </div>
    </div>
{% endblock %}
