/*
 * Skin: Blue
 * ----------
 */
.skin-blue {
  font-family: 'Muli', "Helvetica", Arial, sans-serif;
  color: #66615b;
}
.skin-blue .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #357ca5;
}
.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue a {
  color: #66615b;
}
.skin-blue a:focus,
.skin-blue a:active,
.skin-blue a:hover {
  color: #66615b;
}
.skin-blue .box.box-primary {
  border-top-color: #9a9a9a;
}
.skin-blue .main-header {
  color: #9a9a9a;
}
.skin-blue .main-header .logo {
  color: inherit;
  background: #fff;
}
.skin-blue .main-header .logo img {
  max-width: none;
}
.skin-blue .main-header .logo:hover {
  background: #fff;
  transform: scale(1.1);
}
.skin-blue .main-header .navbar {
  color: inherit;
  background: #ecf0f5;
}
.skin-blue .main-header .navbar .nav > li > a,
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #9a9a9a;
}
.skin-blue .main-sidebar {
  background: #fff;
}
.skin-blue .main-sidebar a {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.skin-blue .main-sidebar .sidebar-menu > li.active > a,
.skin-blue .main-sidebar .sidebar-menu > li.menu-open > a,
.skin-blue .main-sidebar .treeview-menu > li.active > a {
  color: #eb5e28;
}
.skin-blue .main-sidebar .sidebar-menu > li:hover > a,
.skin-blue .main-sidebar .sidebar-menu > li.active > a,
.skin-blue .main-sidebar .sidebar-menu > li.menu-open > a {
  background: inherit;
  color: #66615b;
  border: none;
}
.skin-blue .main-sidebar .sidebar-menu > li.header {
  color: inherit;
  background: inherit;
}
.skin-blue .main-sidebar .sidebar-menu > li.active > a,
.skin-blue .main-sidebar .sidebar-menu > li.menu-open > a,
.skin-blue .main-sidebar .sidebar-menu > li > .treeview-menu {
  background: inherit;
  border: none;
}
.skin-blue .main-sidebar .sidebar-form {
  border: none;
}
.skin-blue .main-sidebar .sidebar-form input[type="text"],
.skin-blue .main-sidebar .sidebar-form .btn {
  background: inherit;
  border-color: #9a9a9a;
}
.skin-blue .table > thead > tr > th,
.skin-blue .table > tbody > tr > th,
.skin-blue .table > tfoot > tr > th,
.skin-blue .table > thead > tr > td,
.skin-blue .table > tbody > tr > td,
.skin-blue .table > tfoot > tr > td {
  border-top: 1px solid #9a9a9a;
  padding: 15px 8px;
}
.skin-blue .table-bordered > thead > tr > th,
.skin-blue .table-bordered > tbody > tr > th,
.skin-blue .table-bordered > tfoot > tr > th,
.skin-blue .table-bordered > thead > tr > td,
.skin-blue .table-bordered > tbody > tr > td,
.skin-blue .table-bordered > tfoot > tr > td {
  border: none;
}
.skin-blue .slimScrollDiv .sidebar p {
  border: none;
}
.skin-blue .info-box-icon {
  background: #fff;
}
.skin-blue .icon-yellow {
  color: #F3BB45;
}
.skin-blue .icon-green {
  color: #7AC29A;
}
.skin-blue .icon-red {
  color: #EB5E28;
}
.skin-blue .icon-blue {
  color: #68B3C8;
}
.skin-blue .btn {
  border-radius: 23px;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
